<div class="container">
    <h1>Publisher</h1>

    <br />
    <div class="row">
        <div class="col-md-2">
            <button type="button" class="btn btn-light" (click)="newBtnClick()">New</button>
        </div>
        <div class="col-md-10"></div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <kendo-grid publisherBinding>
                <kendo-grid-column field="name"></kendo-grid-column>
                <kendo-grid-column field="Action">
                    <ng-template kendoGridCellTemplate let-dataItem>
                        <span class="btn-link" [routerLink]="[dataItem.id,'view']">View</span>
                    </ng-template>
                </kendo-grid-column>
            </kendo-grid>
        </div>
        <div class="col-md-1"></div>
    </div>

</div>
